{% extends "Client/partial/main.html" %} {% block main %}
<div class="articleList">
    <div class="article">
        <div class="title">
            <h1>
            </h1>
        </div>
        <div class="detail">
        </div>
    </div>
</div>
<div id="mainModal">
    <input type="hidden" id="total" value="0" />
    <input type="hidden" id="page" value="{{ page }}" /> {% include "Client/partial/popuppaging.html" %}
</div>
{% endblock %} {% block modal %}
<script type="text/javascript" src="/default/assets/js/Client/articleList.js?v=1.000"></script>
<script type="text/javascript" src="/default/assets/js/moment.js"></script>
{% endblock %}