body {
    background-color: white;
}

center {
    width: 980px;
    margin: 0 auto;
}

header {
    background-color: #f8f8f8;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}

footer {
    background-color: #f8f8f8;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    padding-bottom: 60px;
}

.form-control,
.btn {
    border-radius: 0;
}

@media (min-width: 360px) {
    .nav-bar-header {
        height: 112.5px;
    }
}

@media (min-width: 414px) {
    .nav-bar-header {
        height: 129.375px;
    }
}

@media (min-width: 540px) {
    .nav-bar-header {
        height: 168.75px;
    }
}

.search center {
    padding: 15px 0;
}

.search clearfix {
    height: 58px;
}

.search .title {
    font-size: 40px;
    font-weight: bold;
    color: #FF6704;
}

.search .input-group {
    padding-top: 8px;
    margin-left: 20px;
    width: 390px;
}

.search .input-group .btn {
    height: 40px;
    border-color: #FF6704;
    background-color: #FF6704;
    color: white;
}

.search .input-group .btn:active {
    box-shadow: none;
}

.search .input-group .btn:focus,
.search .input-group .btn:active:focus {
    outline: none;
}

.search #name {
    width: 338px;
    height: 40px;
    border: 4px solid #FF6704;
}

.search #name:focus {
    box-shadow: none;
}

.content {
    border-top: 1px solid #FF6704;
}

.articleList .article {
    text-align: left;
    padding: 20px 0;
    border-top: 1px solid #e6e8eb;
}

.articleList .article:first-child {
    border-top: 0;
}

.articleList .article .img {
    float: left;
}

.articleList .article .info {
    margin-left: 320px;
    word-break: break-all;
}

.articleList .article .img img {
    width: 300px;
}

.articleList .article .info .title h1 {
    margin-top: 0;
}