<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>都市岛</title>
    <link rel="stylesheet" href="/default/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/default/assets/css/Client/main.css">
    <link rel="stylesheet" href="/default/assets/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/default/assets/css/formValidation.css">
    <script type="text/javascript" src="/default/assets/js/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="/default/assets/js/bootstrap.js"></script>
    <script type="text/javascript" src="/default/assets/js/Client/index.js?v=1.000"></script>
    <script type="text/javascript" src="/default/assets/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/default/assets/js/formValidation.js"></script>
    <script type="text/javascript" src="/default/assets/js/bootstrapValidation.js"></script>
</head>

<body>
    <header>
        <center class="">
            <div class="clearfix">
                <div class="logo pull-left">都市岛</div>
                {% if user %}
                <div class="userinfo pull-left">
                    用户: {{ user.name }}
                    <a href="/admin/logout">退出</a>
                </div>
                {% endif %}
                <div class="menu-top pull-right">
                    帮助中心
                </div>
            </div>
        </center>
    </header>
    <div class="search">
        <center class="">
            <div class="clearfix">
                <span class="title pull-left">都市美食岛</span>
                <span class="input-group pull-left">
                    <input type="text" id="name" class="form-control" />
                    <span class="input-group-btn">
                        <button class="btn" type="button">搜索</button>
                    </span>
                </span>
            </div>
        </center>
    </div>
    <div class="content">
        <center>
            {% block main %}{% endblock %}
        </center>
    </div>
    <footer class="">
        <center>
            <div>Copyright ©2017 dushidao.com.All Rights Reserved.</div>
            <div>苏ICP备16006365号</div>
        </center>
    </footer>
    {% block modal %}{% endblock %}
</body>

</html>